.header {
    margin-top: 60px;
    &__content {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
    }
    &__logo {
        font-family: $ff-play;
        font-weight: $fw-bold;
        font-size: $fs-hlogo;
        @include lh_pxToNum(24, 32);
        color: $color-primary;
    }
    &__nav {
        text-align: center;
        .nav__link {
            color: $color-black-lt;
            @include lh_pxToNum(16, 28);
            font-weight: $fw-bold;
            &:not(:first-child) {
                margin-left: 40px;
            }
        }
    }
    &__login {
        text-align: right;
        display: flex;
        a {
            color: $color-secondary;
            @include lh_pxToNum(16, 19)
        }
        &-btn {
            padding: 12px 22px;
            background-color: $color-base;
            box-shadow: none;
            transition: all 0.6s ease 0s;
            &:hover {
                background-color: $color-secondary;
                color: $color-base;
                box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
            }
        }
    }
}