@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@300;500;700&display=swap');
.popins {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --grey: rgb(170, 170, 170);
}

html,
body {
    font-family: 'Changa', sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    line-height: 1.563rem;
    color: var(--grey);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

.obj-cover {
    object-fit: cover;
}

.obj-contain {
    object-fit: contain;
}

.pos-rel {
    position: relative;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}


/* Generak Style */

h2 {
    font-size: 2.188rem;
    line-height: 2.688rem;
    font-weight: 700;
    color: rgb(34, 34, 34);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.header--green {
    color: #2fc42b;
}

.d-block {
    display: block;
}


/* General spacing */


/* Block Header */

.header {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header__container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    padding: 40px 0px 0px 0px;
}

.header__logo {
    width: 161px;
    height: 50px;
}

.header__nav {
    text-align: end;
}

.header__nav a {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    color: var(--white);
    line-height: 1.875rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.header__nav .header__nav__add_after::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    border: solid var(--white);
    border-width: 0 1px 1px 0;
    padding: 2px;
    transform: rotate(45deg);
    margin-bottom: 3px;
}

.header__nav__icon {
    color: var(--white);
    transition: all 0.8s ease 0s;
}

.header__nav__icon:hover {
    cursor: pointer;
    color: #2FC42B;
    transition: all 0.8s ease 0s;
}

.dropdown {
    position: absolute;
    width: 240px;
    height: auto;
    background-color: var(--white);
}

.header__nav__dropdown {
    margin-top: 20px;
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.header__nav__add_after:hover .header__nav__dropdown {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.header__nav__dropdown li {
    cursor: pointer;
    color: var(--black);
    text-align: start;
    padding: 12px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.8s ease 0s;
}

.header__nav__dropdown li:first-child {
    border-top: 3px solid var(--black);
}

.header__nav__dropdown li:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.8s ease 0s;
}


/* Block Header Complete */


/* Main Slider */

.mainSlider {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 835px;
}

.mainSlider__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100%;
}

.mainSlider__content__button {
    width: 60px;
    height: 60px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.mainSlider__content__button::before {
    content: "";
    display: inline-block;
    border: solid var(--black);
    border-width: 0 1px 1px 0;
    padding: 4px;
    margin-bottom: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}

.mainSlider__content__button-left {
    top: 50%;
    left: 0;
}

.mainSlider__content__button-right {
    top: 50%;
    right: 0;
}

.mainSlider__content__button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.mainSlider__content__button:hover::before {
    padding: 6px;
    transition: all 0.3s ease 0s;
}

.mainSlider__content__button-right::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mainSlider__content__img,
.mainSlider__content__textContent {
    position: relative;
}

.mainSlider__content__img__clouds {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 423px;
    height: 320px;
}

.mainSlider__content__img__pen {
    width: 521px;
    height: 489px;
    position: absolute;
    top: 35%;
    left: -14%;
}

.mainSlider__content__textContent {
    display: flex;
    align-items: center;
    color: var(--white);
}

.mainSlider__content__textContent__items {
    width: 80%;
}

.mainSlider__content__textContent__title {
    line-height: 2.188rem;
    font-weight: 700;
    font-size: 1.563rem;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

.mainSlider__content__textContent__theme {
    line-height: 4.813rem;
    font-weight: 500;
    font-size: 4.375rem;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

.mainSlider__content__textContent__button {
    border-width: 2px;
    margin-top: 20px;
    padding: 15px 38px;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.mainSlider__content__textContent__button:hover {
    background-color: #2fc42b;
}


/* Main Slider Comlete*/


/* Seo Form */

.seoForm__container {
    padding: 70px 50px;
}

.seoForm__title {
    text-align: center;
    font-size: 1.875rem;
    line-height: 1.4em;
    color: #222222;
    font-weight: 700;
    padding: 20px 30px;
    font-family: 'Ubuntu', sans-serif;
}

.seoForm__info {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.seoForm__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 227px;
    grid-column-gap: 2rem;
    grid-auto-rows: 50px;
    width: 90%;
    padding: 50px 0;
    margin: auto;
}

.seoForm__form__input {
    padding: 25px 30px;
    background-color: #EDF7FF;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.8s ease 0s;
}

.seoForm__form__input:focus,
.seoForm__form__input:active {
    border: 1px solid #2fc42b;
}

.seoForm__form__button {
    letter-spacing: 1px;
    font-weight: 700;
    background-color: #2F3340;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.8s ease 0s;
    font-family: 'Ubuntu', sans-serif;
}

.seoForm__form__button:hover {
    background-color: #2fc42b;
    transition: all 0.8s ease 0s;
}


/* Seo Form Complete */


/* Service */

.service {
    background-color: #EDF7FF;
    height: 780px;
    display: grid;
    align-items: center;
}

.service--container {
    height: 70%;
}

.service__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 348px;
    grid-column-gap: 4rem;
    padding-top: 70px;
}

.service__type {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__type__img {
    width: 180px;
    height: 160px;
    object-fit: cover;
}

.service__type__title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333333;
    text-align: center;
    padding: 30px 5px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.service__type__read {
    cursor: pointer;
}

.service__type__read::after {
    content: "";
    display: inline-block;
    border: solid #aaaaaa;
    border-width: 0 1px 1px 0;
    padding: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.service__type__title:hover,
.service__type__read:hover {
    color: #2fc42b;
}


/* Service Complete */


/* Counter section */

.counter {
    background-color: #2F3340;
    height: 524px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 324px;
    grid-gap: 0.5rem;
}

.counter__item {
    background-color: #333743;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter__item__img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}

.counter__item__title {
    font-size: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 0px 10px;
}

.counter__item__count {
    font-size: 3.125rem;
    line-height: 3.125rem;
    font-weight: 800;
    padding: 0px 10px;
}


/* Counter Complete */


/* Trafic */

.trafic {
    height: 637px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trafic__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.trafic__content__img {
    width: 500px;
    height: 397px;
}

.trafic__content__info__describe {
    font-size: 1.125rem;
    color: rgb(51, 51, 51);
    margin-top: 40px;
}

.trafic__content__info__list {
    line-height: 1.488rem;
    margin-top: 25px;
    padding-left: 15px;
    position: relative;
}

.trafic__content__info__list::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #02fc40;
    display: inline-block;
    margin-bottom: 2px;
    position: absolute;
    left: 0;
    top: 6px;
}


/* Trafic section complete */

.gallery {
    background-color: #EDF7FF;
    height: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__container {
    height: 920px;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 374px;
    grid-gap: 1.5rem;
    padding-top: 50px;
}

.gallery_item {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gallery_item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 90%;
    height: 90%;
    transition: all 0.8s ease 0s;
    transform: scaleX(0);
    border-radius: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons__block {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.icons__block:nth-child(2) {
    margin-left: 15px;
}

.icons__block:hover {
    color: #2fc42b;
}

.gallery_item:hover::before {
    transition: all 0.8s ease 0s;
    transform: scaleX(1);
}

.gallery_item:hover .icons__block {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s;
}

.gallery_item:hover .icons__block:nth-child(1) {
    transition-delay: 0.3s;
}

.gallery_item:hover .icons__block:nth-child(2) {
    transition-delay: 0.6s;
}


/* Gallery complete */


/* Marketing */

.marketing {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marketing__container {
    display: grid;
    height: 577px;
}

.marketing__info {
    width: 57%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.marketing__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 164px;
    padding-top: 50px;
    grid-row-gap: 1rem;
}

.marketing_item {
    padding: 30px;
    display: flex;
    transition: all 0.8s ease 0s;
}

.marketing_item:hover {
    box-shadow: 5px 22px 21px rgb(234 234 234 / 75%);
    transition: all 0.8s ease 0s;
}

.marketing__item__icon {
    width: 80px;
    height: 80px;
}

.marketing__item__info {
    width: 76%;
    padding-left: 15px;
}

.marketing__item__info__header {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--black);
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.marketing__item__info__header:hover {
    color: rgb(47, 196, 43);
    transition: all 0.8s ease 0s;
}

.marketing__item__info__text {
    padding-top: 10px;
}


/* Marketing section is complete */

.testimonial {
    height: 552px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
}

.testimonial__container {
    height: 252px;
}

.testimonial__thumbs {
    width: 126px;
    height: 126px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonial__thumbs__img {
    width: 58px;
    height: 58px;
    background-color: #444853;
    cursor: pointer;
    transition: all 0.6s ease 0s;
}

.testimonial__thumbs__img:hover {
    background-color: var(--white);
    transform: scale(1.1);
    transition: all 0.6s ease 0s;
}

.testimonial__content {
    display: flex;
}

.testimonial__info {
    padding-left: 30px;
    position: relative;
}

.testimonial__info__text {
    width: 915px;
    font-size: 1.563rem;
    font-weight: 200;
    line-height: 2.188rem;
    font-style: italic;
    color: var(--white);
    /* text-indent: 1.5rem; */
    position: relative;
}

.testimonial__info__quote {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: 30px;
    font-size: 10px;
    width: 9px;
    height: 10px;
}

.testimonial__info__author {
    margin-top: 40px;
}

.testimonial__info__author .author_name {
    font-size: 1.563rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--white);
    display: block;
}

.testimonial__info__author .author_position {
    line-height: 1.5rem;
    color: rgb(47, 196, 43);
    display: block;
    padding: 10px 0;
}

.testimonial__info__buttons {
    position: absolute;
    bottom: -28%;
    left: 13%;
}

.testimonial__info__button {
    color: white;
    font-size: 45px;
    display: inline-block;
}


/* Testimonial complete */

.price {
    height: 902px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__container {
    height: 662px;
}

.price__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
}

.price__content__item {
    background-color: #F8F8F8;
}

.price__content__img {
    width: 336px;
    height: 180px;
    position: relative;
    margin: auto;
}

.price__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.img_price {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -49px;
    text-align: center;
}

.price__header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: rgb(47, 196, 43);
}

.price__count {
    font-family: 'Ubuntu', sans-serif;
    font-size: 65px;
    font-weight: 700;
    Line-height: 65px;
    color: var(--white);
}

.price__content {
    padding-top: 60px;
}

.price__content__text span {
    margin-top: 40px;
    display: block;
    text-align: center;
}

.price__content__text span:nth-child(3) {
    color: rgb(47, 196, 43);
}

.price__button {
    width: 161px;
    height: 54px;
    border: 2px solid #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    font-size: 15px;
    color: #AAAAAA;
    font-weight: 700;
    transition: all 0.6s ease 0s;
    margin-bottom: 40px;
}

.price__button:hover {
    background-color: #2f3340;
    border-color: #2f3340;
    color: var(--white);
    transition: all 0.6s ease 0s;
}


/* Price is complete */


/* Clients section */

.brands {
    background-color: #232732;
    height: 350px;
    width: auto;
}


/* .brands__content {
    display: flex;
} */

.brand__info {
    width: 450px;
    height: 350px !important;
    border-right: 1px solid #2F3340;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand__info img {
    width: 380px !important;
    height: 300px !important;
}


/* Brands section complete */

.news {
    height: 887px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF7FF;
}

.news__container {
    height: 637px;
}

.news__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    padding-top: 60px;
}

.news__content_info {
    background-color: var(--white);
}

.news__content_info__describe {
    display: flex;
}

.news__content_info__img {
    width: 350px;
    height: 317px;
}

.news__content_info__describe {
    padding: 40px 30px;
}

.news__date {
    border-right: 2px solid #777777;
    padding-right: 15px;
    text-align: center;
}

.news__date--day {
    font-size: 1.875rem;
    line-height: 40px;
    color: #2fc42b;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

.news__dates--year {
    color: #aaaaaa;
    line-height: normal;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

.news__mini__info {
    max-width: 70%;
    padding-left: 15px;
}

.news__mini__info__theme {
    font-size: 0.875rem;
    line-height: 24px;
    color: #777777;
}

.news__mini__info__title {
    font-size: 1.333rem;
    line-height: 25px;
    transition: all 0.6s ease 0s;
    color: #333333;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.news__mini__info__title:hover {
    color: #2fc42b;
    transition: all 0.6s ease 0s;
}