@import '../helpers/helpers';
.uptitle,
.text {
    font-size: $fs-lg;
    @include lh_pxToNum(20, 30);
    font-weight: $fw-med;
    color: $color-ntrl-dk;
}

.uptitle {
    position: relative;
    color: $color-black-lt;
    display: inline-block;
}

.uptitle::after {
    content: '';
    position: absolute;
    right: -80%;
    top: 50%;
    width: 73px;
    height: 2px;
    background-color: $color-black-lt;
    margin-top: 2px;
}

.title {
    font-family: $ff-lora;
    font-weight: $fw-bold;
    font-size: $fs-h2;
    @include lh_pxToNum(40, 52);
    color: $color-primary;
    margin: 0;
}

.title_secondary {
    font-family: $ff-lora;
    font-size: $fs-h3;
    @include lh_pxToNum(32, 41);
    font-weight: $fw-reg;
}

.text_secondary {
    font-weight: $fw-med;
    font-size: $fs-md;
    @include lh_pxToNum(18, 28);
    color: $color-ntrl;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}