@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Poppins:wght@500;600&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
// Typography
//Fonts
$ff-inter:'Inter';
$ff-lato:'Lato';
$ff-lora:'Lora';
$ff-poppins:'Poppins';
$ff-roboto:'Roboto';
$ff-rubik:'Rubik';
$ff-play:'Playfair Display';
$ff-style:system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
//Font-weight
$fw-reg:400;
$fw-med:500;
$fw-sbold:600;
$fw-bold:700;
//Font-size
$fs-sm:1.6rem;
$fs-md:1.8rem;
$fs-lg:2rem;
$fs-hlogo:2.4rem;
$fs-ftitle:3.4rem;
//Title
$fs-h1:5.2rem;
$fs-h2:4rem;
$fs-h3:3.2rem;
$fs-h4:2.6rem;
$fs-h6:2.2rem;
//Color
$color-base:#ffffff;
$color-primary:#10375C;
$color-secondary:#FF5722;
$color-ntrl:#9A9A9A;
$color-ntrl-dk:#6A6A6A;
$color-black-lt:#222831;
//Sizing
$p:12.5px 114px;